.caja {
  width: 1060px;
  height: 150px;
  background:white);
}
body {
  background-image: url('https://st2.depositphotos.com/37462746/46719/i/450/depositphotos_467199360-stock-photo-viersen-germany-march-2021-closeup.jpg');
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-attachment: fixed; /* Mantiene la imagen fija al hacer scroll */
  background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
  background-position: center; /* Centra la imagen */
}
